/*Height para que se use todo el alto del view sin depender del contenido interno
con layout flexible
overflow hidden evita el scroll en body*/
.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/*Ocupa todo el espacio disponible despues del header (flex1)
con min los componente spueden hacer overflow interno y el scroll funciona bien*/
.mainContent {
    flex:1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

header {
    flex-shrink: 0;
    background: white;
}

