.Calendar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: white;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
}
/*chao overflow hidden*/