.ControlBar {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:unset;
    bottom: 0;
    z-index: 40;
    overflow: visible;
    width: 100%; 
    box-sizing: border-box; 
    padding: 0.4rem 1.2rem;
    min-height: 56px;
    background: linear-gradient(to right, #ffffff, #f9fafb);
    border-bottom: 2px solid transparent;
    background-image:
        linear-gradient(#ffffff, #ffffff),
        linear-gradient(90deg, #ff006e, #c026d3);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-top: 2px solid transparent;
    border-bottom: none;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.06);
}

/* Agrupaciones */
.ControlBar .Left,
.ControlBar .Center,
.ControlBar .Right {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* SE PUEDE MEJORAR, ES PARA ESPACIAR LOS BOTONES */
}

/* Centrar el bloque del medio */
.ControlBar .Center {
    flex: 1;
    justify-content: center;
}

/* Alinear el bloque derecho */
.ControlBar .Right {
    justify-content: flex-end;
}

/* Responsive */
@media (min-width: 900px) {
    .ControlBar {
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content: space-between;
    }

    .ControlBar .Left {
        justify-content: flex-start;
    }

    .ControlBar .Center {
        justify-content: center;
        flex:1;
    }

    .ControlBar .Right {
        justify-content: flex-end;
    }
}

@media (max-width: 1012px) {
    .ControlBar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.3rem;
        padding: 0.4rem 0.8rem;
    }

    .ControlBar .Left,
    .ControlBar .Center,
    .ControlBar .Right {
        width: auto;
        gap:0.3rem;
        justify-content: center;
    }
}
/* Ajustes para mobile */
@media (max-width: 768px) {
    .ControlBar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap:0.3rem;
        padding: 0.4rem 0.8rem;
        flex-wrap: nowrap;
    }

    .ControlBar .Left,
    .ControlBar .Center
    {
        width: auto;
        gap:0.3rem;
        justify-content: center;
    }

    .ControlBar .right {
        width:auto;
        gap:0.3rem;
        justify-content: flex-end;
        padding-right: 0.4;
    }
}
