/*Selector de dia?*/
.daySelector {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background: #f9fafb;
    border-bottom: 1px solid #e5e7eb;
}

.daySelectorArrow {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor:pointer;
}

.calendarHeader {
    display:grid;
    grid-template-columns: var(--hours-column-width) 1fr;
    border-bottom: 1px solid #e5e7eb;
    background: #f3f4f6;
}

.CalendarBodyGrid {
    display:grid;
    grid-template-columns: var(--hours-column-width) 1fr;
    position:relative;
}
