/* Header General */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 2rem;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
    font-family: system-ui, -apple-system, sans-serif;
}

/* PARTE IZQUIERDA PA RESPONSIVE */
.headerLeft {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Logo */

header img {
    height: 3rem;
    width: auto;
}


/* Titulo */

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
}


/* Navbar */

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #374151;
    transition: color 0.2s ease;
}

/* Hover */
header nav ul li a:hover {
    color: #c026d3;
}

/* Botón de menú para mobile */
.menuButton {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Responsive */

@media (max-width: 768px) {
    header {
        padding: 0.8rem 1rem;
    }

    header h1 {
        font-size: 1.1rem;
    }

    header nav {
        position: fixed;
        top:0;
        left: 0;
        height: 100vh;
        min-width: 50%;         /*MENU HAMBUEGUESA*/
        background: white;
        padding: 2rem 1.5rem;
        box-shadow: 2px 0px 10px black;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1001;
    }

    header nav.open {
        transform: translateX(0);
    }

    header nav ul {
        flex-direction: column;
        gap: 1.5rem;
    }

    .menuButton {
        display: block;
    }

    .overlay {
        position: fixed;
        inset:0;
        background: #00000080;
        z-index: 1000;
    }

    header nav ul li a {
        font-size: 0.8rem;
    }
}