/* Reset básico */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.ContainerLogIn {
    position: fixed;
    inset: 0; 
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8%;
}


/* Contenedor general */
.wrapper {
    width: 100%;
    height: 100vh;
}

/* Formulario */
.wrapper form {
    width: 380px;
    background: #fff;
    padding: 40px 35px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-left: auto;
}

/* Logo */
.logo {
    width: auto;
    height: 115px;
    margin: 0 auto 25px auto;
    display: block;
    margin-bottom: 20px;
}


/* Título */
.wrapper h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #111;
}

/* Subtítulo */
.subtitle {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}

/* Inputs */
.inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.inputBox input {
    width: 100%;
    height: 45px;
    background: #eaeaea;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 0 45px 0 20px;
    font-size: 14px;
    color: #333;
    transition: 0.3s ease;
}

.inputBox input:focus {
    background: #e0e0e0;
}

/* Iconos */
.inputBox svg {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    font-size: 16px;
}

/* Recordar / Olvidé contraseña */
.rememberForgot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 13px;
    margin-bottom: 25px;
    color: #555;
}

.rememberForgot label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rememberForgot a {
    text-decoration: none;
    color: #0657c8;
    font-weight: 500;
}

.rememberForgot a:hover {
    text-decoration: underline;
}

/* Botón */
.btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background: linear-gradient(90deg, #a855f7, #ff005c);
    transition: 0.3s ease;
}

.btn:hover {
    opacity: 0.9;
    transform: scale(1.02);
}