/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Fondo general */
body {
    background: #f4f4f4;
}

/* Contenedor general */
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Formulario */
.wrapper form {
    width: 380px;
    background: #ffffff;
    padding: 40px 35px;
    padding-bottom: 70px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Logo */
.logo {
    height: 115px;
    width: auto;
    margin: 0 auto 20px auto;
    display: block;
}

/* Título */
.wrapper h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #111;
}

/* Subtítulo */
.subtitle {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}

/* Input */
.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    height: 45px;
    background: #eaeaea;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 0 45px 0 20px;
    font-size: 14px;
    color: #333;
    transition: 0.3s ease;
}

.input-box input:focus {
    background: #e0e0e0;
}

/* Icono dentro del input */
.input-box svg {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    font-size: 18px;
}

/* Botón principal */
.btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background: linear-gradient(90deg, #a855f7, #ff005c);
    transition: 0.3s ease;
}

.btn:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

/* Botón volver - inferior derecha del formulario */
.btn-return {
    position: absolute;
    bottom: 15px;
    right: 20px;

    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    background: #f3f4f6;
    color: #0c0c0c;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.btn-return:hover {
    background: linear-gradient(90deg, #a855f7, #ff005c);
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(229, 70, 105, 0.3);
}