.weekHeader {
  grid-template-columns: var(--hours-column-width) repeat(7, 1fr);
}

.weekGrid {
  grid-template-columns: var(--hours-column-width) repeat(7, 1fr);
}

/*Headers de dias*/
.dayHeaderCell {
  padding: 1rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  border-right: 1px solid #e5e7eb;
}

.dayHeaderCell:last-child {
  border-right: none;
}