.adminView {
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    gap: 2rem;
    padding: 2rem;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    overflow: hidden;
}

.adminView__Header {
    flex-shrink: 0;
    background: white;
}

.adminView__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.adminView__overview {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.adminView__overview > * {
    flex: 1;
    height: 100%;
}
