/*Reset universal del box model
se usa para calcular tamaños en este caso width= contenido + padding+ border
evita que las cosas se desborden*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Altura total 
en react se monta todo dentro de #root 
definirle una altura a html y body evita comportamientos extraños en algunos navegadores
y que los layouts no se expandan correctamente (flex y eso)
tambien se limpian espacios fantasma por defecto*/
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Tipografia global consistente
tipografias colores y ayudas al renderizado*/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: #f4f4f5;
  color: #111827;
  -webkit-font-smoothing: antialiased;
}


/*Ambos son herencias de tipografias para que todo sea uniforme*/
button {
  font-family: inherit;
}

input,
select,
textarea {
  font-family: inherit;
}
